#mapid {
    height: 800px;
    width: 100%;
    float: left;
    z-index: 1;
    position: relative;
}
.overlay {
    height: 100%;
    width: 300px;
    margin-left: -300px;
    position: relative;
    float: right;
    z-index: 2;
    background-color: white;
    pointer-events: auto;
    padding: 10px;
}